<!-- ======= Recent Blog Posts Section ======= -->
<section id="recent-blog-posts" class="recent-blog-posts">

    <div class="container">

        <header class="section-header">
            <h2>Blog</h2>
            <p>Post récents de mon blog</p>
        </header>

        <div class="row">

            {% for blogpost in blogposts %}
                <div class="col-lg-4">
                    <div class="post-box">
                        <a href="{{ path('actualites_details', {'slug': blogpost.slug}) }}">
                            <span class="post-date">Publié le {{ blogpost.createdAt|date('d/m/Y') }}</span>
                            <h3 class="post-title">{{ blogpost.titre }}</h3>
                            <h4>{{ blogpost.contenu|u.truncate(150, '...', false) }}</h4>
                            <a href="{{ path('actualites_details', {'slug': blogpost.slug}) }}" class="readmore stretched-link mt-auto"><span>Lire plus</span><i
                                        class="bi bi-arrow-right"></i></a>
                        </a>
                    </div>
                </div>
            {% endfor %}

        </div>
    </div>

</section>

