<section id="team" class="team">

    <div class="container">

        <header class="section-header">
            <h2>Dernières réalisations</h2>
            <p>Retrouvez mes dernières réalisations</p>
        </header>


        <div class="row gy-4">
            {% for peinture in peintures %}
                <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                    <a href="{{ path('realisations_details', {'slug': peinture.slug}) }}">
                        <div class="member">
                            <div class="member-img">
                                <img src="{{ vich_uploader_asset(peinture, 'imageFile') }}" class="img-fluid" alt="">
                            </div>
                            <div class="member-info">
                                <h4>{{ peinture.nom }}</h4>
                                <span>Ajoutée le {{ peinture.createdAt|date('d/m/Y') }}</span>
                                <p>{{ peinture.description|u.truncate(200, '...', false) }}</p>
                            </div>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>

</section>
