<!-- ======= Hero Section ======= -->
<section id="hero" class="hero d-flex align-items-center">

    <div class="container">
        <div class="row">
            <div class="col-lg-6 d-flex flex-column justify-content-center">
                <h1>Arnaud Duthoit</h1>
                <h2>Artiste Peintre dans le Nord, au coeur de l'Avesnois</h2>
                <div>
                    <div class="text-center text-lg-start">
                        <a href="{{ path('portfolio') }}" class="btn-get-started scrollto d-inline-flex align-items-center justify-content-center align-self-center">
                            <span>Découvrir mon portfolio</span>
                            <i class="bi bi-arrow-right"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 hero-img">
                <img src="https://picsum.photos/500" class="img-fluid" alt="">
            </div>
        </div>
    </div>

</section><!-- End Hero -->
<!-- End Hero -->
