<!-- ======= Header ======= -->
<header id="header" class="header fixed-top">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

        <a href="{{ path('home') }}" class="logo d-flex align-items-center">
            <img src="/img/logo.png" alt="">
            <span>Arnaud Duthoit</span>
        </a>

        <nav id="navbar" class="navbar">
            <ul>
                <li><a class="nav-link scrollto" href="{{ path('realisations') }}">Réalisations</a></li>
                <li><a class="nav-link scrollto" href="{{ path('actualites') }}">Actualités</a></li>

                <li class="dropdown"><a class="nav-link scrollto" href="{{ path('portfolio') }}"><span>Portfolio</span> <i class="bi bi-chevron-down"></i></a>
                    <ul>
                        {% for categorie in categorieNavbar() %}
                            <li>
                                <a href="{{ path('portfolio_categorie', {'slug': categorie.slug}) }}">{{ categorie.nom }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </li>
                <li><a class="nav-link scrollto" href="{{ path('a_propos') }}">A propos</a></li>
                <li><a class="getstarted scrollto" href="#">Me contacter</a></li>
            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
        </nav><!-- .navbar -->

    </div>
</header><!-- End Header -->
