{% extends 'base.html.twig' %}

{% block title %}Hello PortfolioController!{% endblock %}

{% block body %}

    {% set peinture = categorie.peintures|last %}
    <!-- ======= Hero Section ======= -->
    <section id="hero" class="hero d-flex align-items-center">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 d-flex flex-column justify-content-center">
                    <h1>{{ categorie.nom }}</h1>
                    <h2>{{ categorie.description }}</h2>
                </div>
                <div class="col-lg-6 hero-img">
                    <img src="{{ vich_uploader_asset(peinture, 'imageFile') }}" class="img-fluid" alt="">
                </div>
            </div>
        </div>
    </section>

    <!-- ======= Values Section ======= -->
    <section id="values" class="values">
        <div class="container">
            <div class="row">
                {% for peinture in peintures %}
                    <div class="col-lg-4">
                        <a href="{{ path('realisations_details', {'slug': peinture.slug}) }}">
                            <div class="box">
                                <img src="{{ vich_uploader_asset(peinture, 'imageFile') }}" class="img-fluid" alt="">
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section><!-- End Values Section -->

{% endblock %}
