{% extends 'base.html.twig' %}

{% block title %}Hello PortfolioController!{% endblock %}

{% block body %}

    <!-- ======= Hero Section ======= -->
    <section id="hero" class="hero hero-50vh d-flex align-items-center">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 d-flex justify-content-center">
                    <h1>Portfolio</h1>
                </div>
            </div>
        </div>
    </section>

    <!-- ======= Values Section ======= -->
    <section id="values" class="values">

        <div class="container">

            <div class="row">
                {% for categorie in categories %}
                    {% set peinture = categorie.peintures|last %}
                    <div class="col-lg-4">
                        <a href="{{ path('portfolio_categorie', {'slug' : categorie.slug}) }}">

                            <div class="box">
                                <img src="{{ vich_uploader_asset(peinture, 'imageFile') }}" class="img-fluid" alt="">
                                <h3>{{ categorie.nom }}</h3>
                                <p>{{ categorie.description }}</p>
                            </div>
                        </a>
                    </div>

                {% endfor %}
            </div>
        </div>
    </section><!-- End Values Section -->

{% endblock %}
