{% extends 'base.html.twig' %}

{% block title %}Hello BlogpostController!{% endblock %}

{% block body %}
    <!-- ======= Recent Blog Posts Section ======= -->
    <section id="recent-blog-posts" class="recent-blog-posts mt-4">

            <div class="container">

                <header class="section-header">

                <p>Mes actualités</p>
                <h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A at atque ducimus inventore mollitia nam
                    nesciunt porro quasi, voluptas! Accusamus debitis eaque eligendi magni vero? Eius incidunt maxime
                    quam voluptas!</h2>
            </header>

            <div class="row">

                {% for blogpost in blogposts %}
                    <div class="col-lg-4">
                        <div class="post-box">
                            <a href="{{ path('actualites_details', {'slug': blogpost.slug}) }}">
                                <span class="post-date">Publié le {{ blogpost.createdAt|date('d/m/Y') }}</span>
                                <h3 class="post-title">{{ blogpost.titre }}</h3>
                                <h4>{{ blogpost.contenu|u.truncate(150, '...', false) }}</h4>
                                <a href="{{ path('actualites_details', {'slug': blogpost.slug}) }}" class="readmore stretched-link mt-auto"><span>Lire plus</span><i
                                            class="bi bi-arrow-right"></i></a>
                            </a>
                        </div>
                    </div>
                {% endfor %}

            </div>
        </div>
    </section>

    <div class="d-flex justify-content-center">
        {% do blogposts.setPageRange(2) %}
        {{ knp_pagination_render(blogposts, 'base/pagination.html.twig') }}
    </div>

{% endblock %}
