{% extends 'base.html.twig' %}

{% block title %}Hello ContactController!{% endblock %}

{% block body %}

    <div class="container-fluid">

        <div class="row">
            <div class="col p-0 text-center d-flex justify-content-center align-items-center display-none">
                <img src="https://picsum.photos/800" class="w-100">
            </div>
            <div class="col p-0 bg-custom d-flex justify-content-center align-items-center flex-column w-100">
                <h2>Me Contacter</h2>
                <h5>Une question ? Envie d'acheter une toile ? N'hésitez pas à me contacter</h5>
                <hr>

                {% for message in app.flashes('success') %}
                    <div class="alert alert-success">
                        {{ message }}
                    </div>
                {% endfor %}

                <div class="alert alert-error">
                    {{ form_errors(form) }}
                </div>

                {{ form_start(form) }}

                <div class="form-group">
                    <label for="contactName" class="form-label">
                        {{ form_label(form.nom) }}
                    </label>
                    {{ form_widget(form.nom) }}
                </div>

                <div class="form-group">
                    <label for="contactEmail" class="form-label">
                        {{ form_label(form.email) }}
                    </label>
                    {{ form_widget(form.email) }}
                </div>

                <div class="form-group">
                    <label for="contactMessage" class="form-label">
                        {{ form_label(form.message) }}
                    </label>
                    {{ form_widget(form.message) }}
                </div>

                <div class="form-group mt-2">
                    {{ form_widget(form.envoyer) }}
                </div>

                {{ form_end(form) }}

            </div>
        </div>
    </div>

{% endblock %}
