{% extends 'base.html.twig' %}
{% block title %} {{ peinture.nom }}{% endblock %}

{% block body %}

    <main id="main">

        <!-- ======= Breadcrumbs ======= -->
        <section class="breadcrumbs">
            <div class="container">

                <ol>
                    <li><a href="{{ path('home') }}">Accueil</a></li>
                    <li>{{ peinture.nom }} </li>
                </ol>
                <h2>Details de <b>{{ peinture.nom }}</b> </h2>

            </div>
        </section><!-- End Breadcrumbs -->

        <!-- ======= Portfolio Details Section ======= -->
        <section id="portfolio-details" class="portfolio-details">
            <div class="container">

                <div class="row gy-4">

                    <div class="col-lg-8">
                        <div class="portfolio-details-slider swiper-container">
                            <div class="swiper-wrapper align-items-center">
                                <div class="swiper-slide">
                                    <img src="{{ vich_uploader_asset(peinture, 'imageFile') }}" alt="">
                                </div>
                            </div>
                            <div class="swiper-pagination"></div>
                        </div>
                    </div>

                    <div class="col-lg-4">
                        <div class="portfolio-info">
                            <h3>Informations sur la peinture</h3>
                            <ul>
                                <li><strong>Categorie</strong>: {% for categorie in peinture.categorie %}{{ categorie.nom }}{% endfor %}</li>
                                <li><strong>Date de réalisation</strong>: {{ peinture.dateRealisation|date('d/m/Y') }} </li>
                                <li><strong>Largeur</strong>: {{peinture.largeur}} cm</li>
                                <li><strong>Hauteur</strong>: {{peinture.hauteur}} cm</li>
                                {% if peinture.enVente %}
                                    <li class="list-group-item">
                                        <h6 class="d-flex mb-0 text-uppercase">
                                            <strong>Disponible à la vente: </strong>
                                            <span class="ms-auto"><strong>{{ peinture.prix }} euros</strong></span>
                                        </h6>
                                    </li>
                                {% endif %}
                            </ul>
                        </div>
                        <div class="portfolio-description">
                            <h2>Description</h2>
                            <p>
                                {{ peinture.description }}
                            </p>
                        </div>
                    </div>

                </div>

            </div>
        </section><!-- End Portfolio Details Section -->
    </main>

{% endblock %}
