{% extends 'base.html.twig' %}

{% block title %}Hello PeintureController!{% endblock %}

{% block body %}
    <section id="team" class="team mt-4">

        <div class="container">

            <header class="section-header">
                <p>Mes réalisations</p>
                <h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet, animi aperiam consequatur cumque
                    debitis dolor eum harum id inventore minus, nam odio provident quam reiciendis repellat sed sequi
                    temporibus!</h2>
            </header>

            <div class="row gy-4">
                {% for peinture in peintures %}

                    <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                        <a href="{{ path('realisations_details', {'slug': peinture.slug}) }}">
                            <div class="member">
                                <div class="member-img">
                                    <img src="{{ vich_uploader_asset(peinture, 'imageFile') }}" class="img-fluid" alt="">
                                </div>
                                <div class="member-info">
                                    <h4>{{ peinture.nom }}</h4>
                                    <span>Ajoutée le {{ peinture.createdAt|date('d/m/Y') }}</span>
                                    <p>{{ peinture.description|u.truncate(200, '...', false) }}</p>
                                </div>
                            </div>
                        </a>
                    </div>

                {% endfor %}
            </div>
        </div>
    </section>
    <div class="d-flex justify-content-center">
        {% do peintures.setPageRange(2) %}
        {{ knp_pagination_render(peintures, 'base/pagination.html.twig') }}
    </div>
{% endblock %}
